In [2]:
import pandas as pd 
import numpy as np
import utils as ut

Aca me ubico en la carpeta de los archivos necesarios

In [3]:
%cd C:\\Users\\Familia Lara Pernia\\Desktop\\Proyecto2_SiniestrosViales_Henry
%pwd

C:\Users\Familia Lara Pernia\Desktop\Proyecto2_SiniestrosViales_Henry

'C:\\Users\\Familia Lara Pernia\\Desktop\\Proyecto2_SiniestrosViales_Henry'

Cargo archivos a trabajar

In [4]:
victimas = pd.read_excel("data/excel/homicidios.xlsx", sheet_name="VICTIMAS")
victimas_dict = pd.read_excel("data/excel/homicidios.xlsx", sheet_name="DICCIONARIO_VICTIMAS")

Tratamiento de los datos del conjunto de datos 'víctimas' y 'victimas_dict'

In [5]:
victimas

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,2021-12-12,2021,12,12,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,2021-12-13,2021,12,13,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,2021-12-20,2021,12,20,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,2021-12-30,2021,12,30,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,2021-12-15,2021,12,15,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

In [7]:
victimas_dict

,variables y definiciones,descripción,Unnamed: 2
0,ID_hecho,identificador unico del siniestro,NaN
1,FECHA,fecha en formato dd/mm/aaaa,NaN
2,AAAA,año,NaN
3,MM,mes,NaN
4,DD,día del mes,NaN
5,ROL,Posición relativa al vehículo que presentaba l...,NaN
6,VICTIMA,Vehículo que ocupaba quien haya fallecido a se...,NaN
7,SEXO,Sexo informado por fuente policial de la víctima,NaN
8,EDAD,Edad de la víctima al momento del siniestro,NaN
9,FECHA_FALLECIMIENTO,Fecha de fallecimiento de la víctima,NaN
10,NaN,NaN,NaN
11,Variables,valores,descripción
12,VICTIMA,PEATON,Víctima distinta de cualquier ocupante de un v...
13,NaN,MOTO,Vehículo a motor no carrozado que incluye moto...
14,NaN,AUTO,Vehículo a motor destinado al transporte de pe...
15,NaN,CARGAS,Vehículo a motor destiando al transporte de ca...
16,NaN,BICICLETA,"Vehículo con al menos dos ruedas, que generalm..."
17,NaN,PASAJEROS,"Personas lesionadas que se encuentran dentro, ..."
18,NaN,MOVIL,"Vehículos de emergencia: móviles policiales, a..."
19,NaN,OTRO,otros vehiculos
20,NaN,SD,Sin datos sobre el tipo de víctima


Ahora vamos a ver un resumen sobre la base de datos de hechos.

In [8]:
ut.data_summ(victimas)

Total filas:  717

Total filas nulas:  0

Total filas duplicadas:  0

,Columnas,Tipo_Dato,No_miss_Qty,%Missing,Missing_Qty
0,ID_hecho,[<class 'str'>],717,0.0,0
1,FECHA,[<class 'pandas._libs.tslibs.timestamps.Timest...,717,0.0,0
2,AAAA,[<class 'int'>],717,0.0,0
3,MM,[<class 'int'>],717,0.0,0
4,DD,[<class 'int'>],717,0.0,0
5,ROL,[<class 'str'>],717,0.0,0
6,VICTIMA,[<class 'str'>],717,0.0,0
7,SEXO,[<class 'str'>],717,0.0,0
8,EDAD,"[<class 'int'>, <class 'str'>]",717,0.0,0
9,FECHA_FALLECIMIENTO,"[<class 'datetime.datetime'>, <class 'str'>]",717,0.0,0

Para unir este dataframe con el dataframe de hechos eliminamos las columnas que se repiten en ambos. También eliminaremos la columna "FECHA_FALLECIMIENTO" ya que no aporta información relevante para el análisis que debemos realizar.

In [9]:
columns_to_drop = ['FECHA', 'AAAA', 'MM', 'DD', 'VICTIMA', 'FECHA_FALLECIMIENTO']

# Drop Columnas
victimas = victimas.drop(columns_to_drop, axis=1)

In [10]:
victimas

      ID_hecho                   ROL       SEXO EDAD
0    2016-0001             CONDUCTOR  MASCULINO   19
1    2016-0002             CONDUCTOR  MASCULINO   70
2    2016-0003             CONDUCTOR  MASCULINO   30
3    2016-0004             CONDUCTOR  MASCULINO   18
4    2016-0005             CONDUCTOR  MASCULINO   29
..         ...                   ...        ...  ...
712  2021-0092                PEATON   FEMENINO   50
713  2021-0093  PASAJERO_ACOMPAÑANTE   FEMENINO   18
714  2021-0094  PASAJERO_ACOMPAÑANTE   FEMENINO   43
715  2021-0095             CONDUCTOR  MASCULINO   27
716  2021-0096             CONDUCTOR  MASCULINO   60

[717 rows x 4 columns]

Nuestro resumen de datos muestra algunas columnas en mayúsculas y otras en minúsculas. También muestra algunas columnas con diferentes tipos de datos. Nuestro primer paso será estandarizar la escritura de columnas y luego analizar columnas con diferentes tipos de datos.

In [12]:
#Estandarizamos el formato de las columnas
victimas.columns = victimas.columns.str.replace('_', ' ')

victimas.columns = victimas.columns.str.title()
# Renombramos columnas
victimas = victimas.rename(columns={'Id Hecho': 'Hechos_Id'})
victimas.columns

Index(['Hechos_Id', 'Rol', 'Sexo', 'Edad'], dtype='object')

La columna 'Edad' tiene tipos mixtos de datos. Vamos a analizar y transformar (si es posible)

In [13]:
victimas['Edad'].apply(type).value_counts()

Edad
<class 'int'>    664
<class 'str'>     53
Name: count, dtype: int64

In [14]:
victimas['Edad'].unique()

array([19, 70, 30, 18, 29, 22, 16, 59, 65, 34, 41, 50, 38, 21, 52, 36, 20,
       54, 'SD', 56, 24, 78, 79, 26, 57, 37, 58, 23, 60, 42, 53, 51, 40,
       87, 76, 75, 35, 80, 43, 45, 67, 27, 55, 49, 81, 25, 33, 46, 83, 39,
       28, 7, 48, 4, 82, 32, 17, 47, 61, 10, 95, 73, 84, 66, 85, 1, 15,
       13, 77, 44, 31, 62, 74, 71, 11, 86, 69, 72, 12, 63, 92, 68, 91, 64,
       5, 88], dtype=object)

Podemos ver en la columna 'Edad' los valores tipo 'str' son 'SD', para analizar y transformar (si es posible) los valores 'SD' en el dataframe, analizaremos datos únicos en cada columna.

In [15]:
victimas['Rol'].unique()

array(['CONDUCTOR', 'PASAJERO_ACOMPAÑANTE', 'PEATON', 'SD', 'CICLISTA'],
      dtype=object)

In [16]:
victimas['Sexo'].unique()

array(['MASCULINO', 'FEMENINO', 'SD'], dtype=object)

In [17]:
ut.count_value_per_column(victimas, 'SD')

Cuenta de 'SD' en la columna Hechos_Id: 0
Cuenta de 'SD' en la columna Rol: 11
Cuenta de 'SD' en la columna Sexo: 6
Cuenta de 'SD' en la columna Edad: 53

Para la columna 'Edad', reemplazaremos los valores 'SD' con un número entero aleatorio en un rango (promedio -2 desviación estándar, promedio +2 desviación estándar)

In [19]:
# Calculamos la media y la desviación estándar de la columna 'Edad' (ignorando los valores 'SD')
avg_age = victimas[victimas['Edad'] != 'SD']['Edad'].astype(float).mean()
std_dev = victimas[victimas['Edad'] != 'SD']['Edad'].astype(float).std()

# Generamos números aleatorios dentro del rango definido
np.random.seed(42)  # This ensures that the random numbers are reproducible
random_age = np.random.randint(
    avg_age - 2 * std_dev,
    avg_age + 2 * std_dev + 1,  # +1 to include the upper limit
    size=len(victimas[victimas['Edad'] == 'SD'])
)

# Reemplazamos los valores 'SD' con los números aleatorios generados
victimas.loc[victimas['Edad'] == 'SD', 'Edad'] = random_age

# Convertimos la columna 'Edad' nuevamente al tipo entero
victimas['Edad'] = victimas['Edad'].astype(int)

victimas['Edad'].unique()

array([19, 70, 30, 18, 29, 22, 16, 59, 65, 34, 41, 50, 38, 21, 52, 36, 20,
       54, 53, 56, 24, 73, 62, 78, 79, 26, 57, 37, 58, 23, 60, 42, 76, 51,
       40, 87, 75, 35, 25, 80, 43, 45, 67, 27, 55,  4, 49, 81, 33, 46, 83,
       39,  3, 31, 28,  7, 48, 82, 32, 61, 17, 47, 10, 95, 84, 66, 77, 85,
        1, 15, 13, 44, 74, 71, 11, 86, 69, 63, 72, 12,  8, 92,  5, 68, 91,
       64,  9, 88])

Para las columnas 'Sexo y ´'Rol', debido a que hay pocos valores 'SD' los reemplazaremos con el valor más repetido

In [20]:
# Calculamos la moda en la columna'sexo'
mode_sexo = victimas['Sexo'].mode()[0]

# Calculamos la moda en la columna 'rol'
mode_rol = victimas['Rol'].mode()[0]

print("moda en columna 'Sexo':")
print(mode_sexo)

print("\nmoda en columna 'Rol':")
print(mode_rol)

moda en columna 'Sexo':
MASCULINO

moda en columna 'Rol':
CONDUCTOR

In [21]:
# Reemplazar 'SD' por la moda en la columna 'Sexo'
victimas['Sexo'] = victimas['Sexo'].replace('SD', mode_sexo)

# Reemplazar 'SD' por la moda en la columna 'Rol'
victimas['Rol'] = victimas['Rol'].replace('SD', mode_rol)

print(victimas['Sexo'].unique())
print(victimas['Rol'].unique())

['MASCULINO' 'FEMENINO']
['CONDUCTOR' 'PASAJERO_ACOMPAÑANTE' 'PEATON' 'CICLISTA']

In [23]:
ut.data_summ(victimas)

Total filas:  717

Total filas nulas:  0

Total filas duplicadas:  0

    Columnas        Tipo_Dato  No_miss_Qty  %Missing  Missing_Qty
0  Hechos_Id  [<class 'str'>]          717       0.0            0
1        Rol  [<class 'str'>]          717       0.0            0
2       Sexo  [<class 'str'>]          717       0.0            0
3       Edad  [<class 'int'>]          717       0.0            0

Finalmente crearemos una columna adicional 'Rango Etario'

In [25]:
# Definimos los límites de los rangos de edad
age_range = [0, 18, 25, 40, 60, float('inf')]  

# Definimos etiquetas para rangos de edad
tag_ranges = ['0-18', '19-25', '26-40', '41-60', '61+']

# Creamos la columna 'Rango Etario' usando pd.cut
victimas['Rango Etario'] = pd.cut(victimas['Edad'], bins=age_range, labels=tag_ranges, right=False)


victimas.head(3)

   Hechos_Id        Rol       Sexo  Edad Rango Etario
0  2016-0001  CONDUCTOR  MASCULINO    19        19-25
1  2016-0002  CONDUCTOR  MASCULINO    70          61+
2  2016-0003  CONDUCTOR  MASCULINO    30        26-40

Guardamos nuestro df limpio en un archivo CSV

In [ ]:
dataframe = [victimas]
name = ['victimas_limpio']
ut.save_to_csv(dataframe, name)